body
  font-family: fontMuli
  color: colorLightGreen
  font-weight: normal
  &.is-fixed
    overflow: hidden

h1,h2,h3,h3,h4,h5
  font-family: fontPrata

.layout
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh
  padding-top: headerHeight
  overflow: hidden

.container
  container()