headerHeight = 150px;
fontMuli = 'Muli', sans-serif;
fontPrata = 'Prata', serif;
colorMain = #F68A6B;
colorMainHovered = #e07353;
colorBcgPink = #FAF7F4;
colorGray = #B9BAB2;
colorOrange = #bc540a;
colorGreen = #4E523D;
colorLightGreen = #5E625B;
