@import 'global/normalize.css'
@import 'global/fonts.styl'
@import 'global/variables.styl'
@import 'global/resets.styl'
@import 'global/animation.styl'
@import 'global/transition.styl'

@import 'global/mixins.styl'
@import 'global/global.styl'
@import '../../../public/fonts/icomoon/style.css'

@import 'pages/*.styl'
@import 'blocks/*.styl'
